@import 'vars';
@import 'mixins';
@import "../../node_modules/bootstrap/scss/grid";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: #eee;
  color: $color-primary-text;
  font-size: 16px;
  font-weight: 300;
}

main {
  margin: $grid-gutter-width 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
}

input {
  height: 2em;

  &[type=button],
  &[type=submit] {

  }
}
button {
  height: 2em;
  line-height: 2em;
  width: 6em;
  border: none;
  background-color: $color-primary;
  color: #fff;
}

main .row > div > div {
  background-color: #fff;
  padding: 2em;
  box-shadow: 1px 1px 3px 1px rgba(#000, 0.1);
}