
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1288px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1224px
);

$grid-gutter-width: 24px;


$color-primary-text: #524d4d;
$color-primary: #ff8100;