
@import 'vars';
@import 'mixins';
@import 'common';

.link-box {
  width: 100%;

  a {
    color: $color-primary;
    padding: 1em;
    display: block;
    width: 100%;

    &:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }
}